.cardapio {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  .lanches {
    transition: 0.5s;
    width: 160px;
    background-color: #03a9f4;
    border-color: white;
    border: white 4px solid;
    height: 100px;
    border-radius: 16px;
    /* margin: 100px; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
    cursor: pointer;
  }
  .lanches:hover {
    transition: 0.5s;
    width: 200px;
    height: 120px;
    background-color: white;
    color: #03a9f4;
    font-size: 30px;
    box-shadow: grey 0px 0px 20px 5px;
  }
}