.landingPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .botaoCardapio {
    transition: 0.5s;
    width: 360px;
    background-color: #03a9f4;
    border-color: white;
    border: white 10px solid;
    height: 200px;
    border-radius: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 62px;
    color: white;
    cursor: pointer;
  }
  .botaoCardapio:hover {
    transition: 0.5s;
    width: 240px;
    height: 140px;
    background-color: white;
    color: #03a9f4;
    font-size: 30px;
    box-shadow: grey 0px 0px 20px 5px;
  }
}